<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ChessBot</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/chessboard/css/chessboard-0.3.0.css') }}"></link>
        <link rel="shortcut icon" href="{{ url_for('static', filename='rook_favicon.ico') }}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-0.3.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-0.3.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <h1 id="logo">ChessBot</h1>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div id="mainWindow">
                        <div id="piecesB"></div>
                        <div id="board"></div>
                        <div id="piecesW"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div id="secondWindow">
                        <h3><span id="status">White to move</span></h3>
                        <div id="moveTable">
                            <table class="table table-striped table-condensed" id="pgn">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>White</th>
                                        <th>Black</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="controls">
                            <form class="form-inline">
                                <select class="form-control" id="sel1">
                                    <option value="Eng">Juega con el Engine</option>
                                    <option value="Usr2">Juega con otro usuario</option>
                                </select>
                                <button type="button" class="btn btn-default" id="reset" onclick="newGame()";>New Game</button>
                                <select class="form-control" id="sel2">
                                    <option value="B">Color: B</option>
                                    <option value="N">Color: N</option>
                                </select>

                                <select class="form-control" id="sel3">
                                    <option value="1500">Elo: 1500</option>
                                    <option value="1450">Elo: 1450</option>
                                    <option value="1400">Elo: 1400</option>
                                    <option value="1350">Elo: 1350</option>
                                    <option value="1300">Elo: 1300</option>
                                    <option value="1250">Elo: 1250</option>
                                    <option value="1200">Elo: 1200</option>
                                    <option value="1150">Elo: 1150</option>
                                    <option value="1100">Elo: 1100</option>
                                    <option value="1050">Elo: 1050</option>
                                    <option value="1000">Elo: 1000</option>
                                    <option value="950">Elo: 950</option>
                                    <option value="900">Elo: 900</option>
                                    <option value="850">Elo: 850</option>
                                    <option value="800">Elo: 800</option>
                                    <option value="750">Elo: 750</option>
                                    <option value="700">Elo: 700</option>
                                    <option value="650">Elo: 650</option>
                                    <option value="600">Elo: 600</option>
                                    <option value="550">Elo: 550</option>
                                    <option value="500">Elo: 500</option>
                                </select>
                                <button type="button" class="btn btn-default" id="backBtn" onclick="takeBack()";>UndoMove</button>
                                <button type="button" class="btn btn-default" id="redoBtn";>RedoMove</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
